extends ../public/layout

block content
    script(src="http://echarts.baidu.com/build/dist/echarts.js")
    script(src="/javascript/utils/chart.js")


    div.container-fuild
        .row
            .col-md-10.col-md-offset-1.scenic-title
                h3 白金时尚购物中心
            .col-md-10.col-md-offset-1.scenic-navbar
                div.row(id="scenic-navbar")
                    ul(class="scenic-navbar-ul")
                        li.active
                            a(href="#scenic-message") 概括
                        li
                            a(href="#scenic-intro") 简介
                        li
                            a(href="#scenic-address") 地址
                        li
                            a(href="#scenic-analyse") 景点分析
                        li
                            a(href="#scenic-comment") 评论信息

        div.row.scroll-content
            div.scenic-section.row(id="scenic-message")
                .col-md-10.col-md-offset-1
                    .message-left
                        div(id="boxID")
                            .loading
                                img(src="/image/scenic/loading.gif" alt="请稍候...")
                            .pic
                                ul
                                    li
                                        a(href="#")
                                            img(src="/image/index_sea/sea1.jpg" thumb="" alt="" text="")
                                    li
                                        a(href="#")
                                            img(src="/image/index_sea/sea1.jpg" thumb="" alt="" text="")
                                    li
                                        a(href="#")
                                            img(src="/image/index_sea/sea1.jpg" thumb="" alt="" text="")
                                    li
                                        a(href="#")
                                            img(src="/image/index_sea/sea1.jpg" thumb="" alt="" text="")
                                    li
                                        a(href="#")
                                            img(src="/image/index_sea/sea1.jpg" thumb="" alt="" text="")

                    .message-right
                        .col-md-7.message-intro
                            h4 概览
                            .col-md-12.ppadding
                                p 白金时尚购物中心白金时尚购物中心白金时尚购物中心白金时尚购物中心白金时尚购物中心白金时尚购物中心白金时尚购物中心白金时尚购物中心白金时尚购物中心白金时尚购物中心白金时尚购物中心白金时尚购物中心
                        .col-md-5.message-star
                            h4 星级评价
                            .col-md-10.col-md-offset-1.message-score
                                .row.total-show
                                    span.total 4.3
                                    span.total-star
                                        -for(var i=0;i<4;i++)
                                            i(class="fa fa-star" aria-hidden="true")
                                        span 1024人评价
                                .row.fen-show
                                    p 中 &nbsp;
                                        -for(var i=0;i<4;i++)
                                            i(class="fa fa-star" aria-hidden="true")
                                        span 4.3
                                    p 美 &nbsp;
                                        -for(var i=0;i<3;i++)
                                            i(class="fa fa-star" aria-hidden="true")
                                        span 4.2
                                    p 泰 &nbsp;
                                        -for(var i=0;i<3;i++)
                                            i(class="fa fa-star" aria-hidden="true")
                                         span 4.2


            div.scenic-section.row(id="scenic-intro")
                .col-md-10.col-md-offset-1
                    h4 景点简介
                        p 白金时尚购物中心如同乍都乍周末市场的室内版。它专营批发时尚服装和配件，有四层购物空间，入驻多达 1,300 家商铺。在这里，讨价还价是乐趣的一部分，买的越多越便宜。白金时尚购物中心位于水门市场的中心，从 Ratchathewi 或奇隆 BTS 轻轨站步行只需 10 分钟，交通比其他同等规模的服装市场更加便利。此外它有空调和一座大型美食广场，以及咖啡厅和快餐连锁店。顶层甚至还有一座四星级酒店，即水门诺富特曼谷铂金酒店。说到一站式采购物美价廉的服装和配件，白金时尚购物中心无疑是最佳选择。
                            | 这里不讲什么概念；它是一个批发购物中心，到处都是小卖场，主要销售女士时装和配件。白金时尚购物中心的每一层都用全球著名的购物区命名，也就是乌节路、弥顿道、银座、苏荷区、牛津和康登街。大体上，四层的零售购物空间专营男女装、皮革制品、鞋和时尚配件。 款式繁多，应有尽有，令人震撼。从童装、青少年装、牛仔裤、睡衣、内衣和超大号服装到假发、腰带、鞋、手包、帽子和化妆品，无所不包。专营店也很有趣，提供来自韩国、香港、日本、中国、印度的进口时装，以及冷门时装，例如超大号服装、老年女士服装、雪纺裙、牛仔服、戏服等。 基本上这里的商品可将您从头到脚装扮起来，因此混搭是个好主意，并在闲逛时贴合您的想法。看到喜欢的东西不要犹豫，否则可能就找不到了。
                            | 白金时尚购物中心如同乍都乍周末市场的室内版。它专营批发时尚服装和配件，有四层购物空间，入驻多达 1,300 家商铺。在这里，讨价还价是乐趣的一部分，买的越多越便宜。白金时尚购物中心位于水门市场的中心，从 Ratchathewi 或奇隆 BTS 轻轨站步行只需 10 分钟，交通比其他同等规模的服装市场更加便利。此外它有空调和一座大型美食广场，以及咖啡厅和快餐连锁店。顶层甚至还有一座四星级酒店，即水门诺富特曼谷铂金酒店。说到一站式采购物美价廉的服装和配件，白金时尚购物中心无疑是最佳选择。
                            | 这里不讲什么概念；它是一个批发购物中心，到处都是小卖场，主要销售女士时装和配件。白金时尚购物中心的每一层都
            div.scenic-section.row(id="scenic-address")
                .col-md-10.col-md-offset-1
                    h4 景点地址
                    .col-md-8.map-show(id="allmap")
                    .col-md-4
                        span.small 地址名称

            div.scenic-section.row(id="scenic-analyse")
                .col-md-10.col-md-offset-1
                    h4 景点分析
                    .col-md-12.analyse-content
                        .analyse-title
                            span.active.col-md-6(id="bar-chart") 柱状分析
                            span.col-md-6(id="pie-chart") 饼状分析
                        .chart-show
                            .chart-page.row(id="bar-chart-page")
                            .chart-page.row(id="pie-chart-page")
                                .col-md-4.pie(id="pie1-chart-page")
                                .col-md-4.pie(id="pie2-chart-page")
                                .col-md-4.pie(id="pie3-chart-page")

            div.scenic-section.row(id="scenic-comment")
                .col-md-10.col-md-offset-1
                    h4 评价详情
                    ul.row.selection
                        li 中
                        li 美
                        li 泰
                        span.line-slide
                .col-md-10.col-md-offset-1.comment-tag
                    -for(var i=0;i<3;i++)
                        span 人多(100)
                        span 热闹(121)
                        span 好玩(142)
                .col-md-10.col-md-offset-1.comment-content
                    -for(var i=0;i<3;i++)
                        .col-md-12
                            div(class="media media-block")
                                div(class="media-left")
                                    a(href="#")
                                        img(class="media-object media-img" src="/image/index_sea/lanmiao.jpg" alt="...")
                                    p 旅游达人
                                    p
                                        i(class="fa fa-star" aria-hidden="true")
                                        i(class="fa fa-star" aria-hidden="true")
                                        i(class="fa fa-star" aria-hidden="true")
                                        i(class="fa fa-star" aria-hidden="true")
                                div(class="media-body")
                                    p 斯米兰群岛斯米兰群岛斯米兰群岛斯米兰群岛斯米兰群岛斯米兰群岛斯米兰群岛斯米兰群岛斯米兰群岛斯米兰群岛斯米兰群岛
                                    button(class="btn btn-default tranlation" type="submit") 翻译

                .col-md-10.col-md-offset-1.page-show
                    nav(aria-label="Page navigation")
                        ul(class="pagination")
                            li
                                a(href="#" aria-label="Previous")
                                    span(aria-hidden="true") &laquo;
                            li
                                a(href="#") 1
                            li
                                a(href="#") 2
                            li
                                a(href="#") ...
                            li
                                a(href="#") 4
                            li
                                a(href="#") 5
                            li
                                a(href="#" aria-label="Next")
                                    span(aria-hidden="true") &raquo;

        .backtotop
            i(class="fa fa-2x fa-angle-up" aria-hidden="true")


