extends ../public/layout

block content
    link(href="https://cdn.bootcss.com/animate.css/3.5.2/animate.min.css" rel="stylesheet")

    .container-fuild.content-section
        .col-md-12.content-title-text
            .content-text
                h2.animated.rollIn 魔幻张家界
                time 2016年4月5日 [4天]
                p.user By huchichi
                i(class="fa fa-arrow-circle-o-down fa-3x show-btn" aria-hidden="true")
        .col-md-12.content-list
            .row.con-title
                span 第一天
            span.back-btn
                i(class="fa fa-arrow-circle-up fa-2x" aria-hidden="true")
            span.prev-btn
                 i(class="fa fa-arrow-circle-left fa-2x" aria-hidden="true")
            span.next-btn
                i(class="fa fa-arrow-circle-right fa-2x" aria-hidden="true")
            .col-md-12.con-content
                ul
                    -for(var i=0;i<10;i++)
                        li=i+"hhh"










