extends ../public/layout

block content
    .container-fuild
        .row
            .col-md-4.col-md-offset-4.search-section
                h3.text-center 魔幻张家界
                p.text-center by huchichi
                p.text-center 2014-03-03[4天]
        .row.content-section
            .col-md-10.col-md-offset-1.content
                .media
                    .media-left.media-middle
                        a(href="#")
                            img.media-object.content-img(src="/image/index_sea/mangu.jpg" alt="...")
                    .media-body
                        h4.media-heading 第1天 2016-04-05 周二
                        p 张家界的三千奇峰，景色绝佳，但这里的气候湿润，雨量特别充沛，尤其是春末夏初频繁的降雨天气，让很多游客担心游玩会收到影响。当然，要是赶上连续的降雨或者阴天，张家界的美景的确会减色不少，但就算是天气晴朗，蓝天白云，也绝不是张家界最美的景色。因为，雨后，尤其是大雨过后，如果天气放晴，有云海或云雾出现，静静缠绕在俊俏挺拔的奇峰之间，漫过天际，张家的美景才会让你恍如进入了仙境一般，如痴如醉。因此，如果在你的出行计划中，如果张家界的天气预报有雨，那你应该感到高兴，虽然这并不能保证你一定会看到云海或云雾，但起码可能性会增加不少。当然像我这样上午看到云海，下午蓝天白云的极品天气，肯定是可遇而不可求的，只有我才能有这样超强的人品。
            .col-md-10.col-md-offset-1.content
                .media
                    .media-left
                        a(href="#")
                            img.media-object.content-img(src="/image/index_sea/mangu.jpg" alt="...")
                    .media-body
                        h4.media-heading 第2天 2016-04-06 周三
                        p 我来过张家界两次，虽然这里的美景让我迷醉，但最让我心心念念的，还是云海和云雾。上次运气好，又有张家界土家族小伙小祥帮忙安排行程，第三天早上在袁家界后花园看到一点云雾，清清淡淡的很快就散去了，虽然小祥说这只是张家界最普通的云雾景观，但已经让我觉得非常震撼了。所以更让我对张家界的云海充满了期待。本来想夏天再来的，但是这次去武当山问道（适度装逼有益健康），神农架抓野人（老装逼会遭雷劈），结果老道不收我，野人也连根毛都没有，看看张家界已经很近了，在宜春观摩了一下西陵峡，视察了一下三峡大坝，看到张家界的天气变成了雨、晴、雨、晴这样的状况（张家界几乎没有晴天，基本上都是多云，多云对于张家界来说就是晴天），然后就直奔张家界。我来过张家界两次，虽然这里的美景让我迷醉，但最让我心心念念的，还是云海和云雾。上次运气好，又有张家界土家族小伙小祥帮忙安排行程，第三天早上在袁家界后花园看到一点云雾，清清淡淡的很快就散去了，虽然小祥说这只是张家界最普通的云雾景观，但已经让我觉得非常震撼了。所以更让我对张家界的云海充满了期待。本来想夏天再来的，但是这次去武当山问道（适度装逼有益健康），神农架抓野人（老装逼会遭雷劈），结果老道不收我，野人也连根毛都没有，看看张家界已经很近了，在宜春观摩了一下西陵峡，视察了一下三峡大坝，看到张家界的天气变成了雨、晴、雨、晴这样的状况（张家界几乎没有晴天，基本上都是多云，多云对于张家界来说就是晴天），然后就直奔张家界。
            .col-md-10.col-md-offset-1.content
                .media
                    .media-left.media-middle
                        a(href="#")
                            img.media-object.content-img(src="/image/index_sea/mangu.jpg" alt="...")
                    .media-body
                        h4.media-heading 第3天 2016-04-06 周四
                        p 张家界的三千奇峰，景色绝佳，但这里的气候湿润，雨量特别充沛，尤其是春末夏初频繁的降雨天气，让很多游客担心游玩会收到影响。当然，要是赶上连续的降雨或者阴天，张家界的美景的确会减色不少，但就算是天气晴朗，蓝天白云，也绝不是张家界最美的景色。因为，雨后，尤其是大雨过后，如果天气放晴，有云海或云雾出现，静静缠绕在俊俏挺拔的奇峰之间，漫过天际，张家的美景才会让你恍如进入了仙境一般，如痴如醉。因此，如果在你的出行计划中，如果张家界的天气预报有雨，那你应该感到高兴，虽然这并不能保证你一定会看到云海或云雾，但起码可能性会增加不少。当然像我这样上午看到云海，下午蓝天白云的极品天气，肯定是可遇而不可求的，只有我才能有这样超强的人品。


            .col-md-10.col-md-offset-1.page-show
                nav(aria-label="Page navigation")
                    ul(class="pagination")
                        li
                            a(href="#" aria-label="Previous")
                                span(aria-hidden="true") &laquo;
                        li
                            a(href="#") 1
                        li
                            a(href="#") 2
                        li
                            a(href="#") ...
                        li
                            a(href="#") 4
                        li
                            a(href="#") 5
                        li
                            a(href="#" aria-label="Next")
                                span(aria-hidden="true") &raquo;